@*
    Admin Layout Sidebar
*@
<nav class="pc-sidebar">
    <div class="navbar-wrapper">
        <div class="m-header">
            <a href="../dashboard/index.html" class="b-brand text-primary">
                <img src="~/Mantis-Bootstrap-1.0.0/dist/assets/images/logo-dark.svg" class="img-fluid logo-lg" alt="logo">
            </a>
        </div>
        <div class="navbar-content">
            <ul class="pc-navbar">

                <li class="pc-item">
                    <a href="/AdminAbout/Index" class="pc-link">
                        <span class="pc-micon"><i class="ti ti-user"></i></span>
                        <span class="pc-mtext">Hakkımda</span>
                    </a>
                </li>

                <li class="pc-item">
                    <a href="/Category/Index" class="pc-link">
                        <span class="pc-micon"><i class="ti ti-tag"></i></span>
                        <span class="pc-mtext">Kategoriler</span>
                    </a>
                </li>

                <li class="pc-item">
                    <a href="/AdminEducation/Index" class="pc-link">
                        <span class="pc-micon"><i class="ti ti-book"></i></span>
                        <span class="pc-mtext">Eğitimlerim</span>
                    </a>
                </li>

                <li class="pc-item">
                    <a href="/Experience/Index" class="pc-link">
                        <span class="pc-micon"><i class="ti ti-briefcase"></i></span>
                        <span class="pc-mtext">Deneyimlerim</span>
                    </a>
                </li>

                <li class="pc-item">
                    <a href="/Skill/Index" class="pc-link">
                        <span class="pc-micon"><i class="ti ti-star"></i></span>
                        <span class="pc-mtext">Yeteneklerim</span>
                    </a>
                </li>

                <li class="pc-item">
                    <a href="/Statistics/Index" class="pc-link">
                        <span class="pc-micon"><i class="ti ti-chart-bar"></i></span>
                        <span class="pc-mtext">İstatistiklerim</span>
                    </a>
                </li>

                <li class="pc-item">
                    <a href="/Project/Index" class="pc-link">
                        <span class="pc-micon"><i class="ti ti-folder"></i></span>
                        <span class="pc-mtext">Projelerim</span>
                    </a>
                </li>

                <li class="pc-item">
                    <a href="/Testimonial/Index" class="pc-link">
                        <span class="pc-micon"><i class="ti ti-message-circle"></i></span>
                        <span class="pc-mtext">Referanslarım</span>
                    </a>
                </li>

                <li class="pc-item">
                    <a href="/AdminSocialMedia/Index" class="pc-link">
                        <span class="pc-micon"><i class="ti ti-globe"></i></span>
                        <span class="pc-mtext">Sosyal Medya Hesaplarım</span>
                    </a>
                </li>

                <li class="pc-item">
                    <a href="/AdminMessage/Index" class="pc-link">
                        <span class="pc-micon"><i class="ti ti-inbox"></i></span>
                        <span class="pc-mtext">Gelen Mesajlar</span>
                    </a>
                </li>

                <li class="pc-item">
                    <a href="/AdminContact/Index" class="pc-link">
                        <span class="pc-micon"><i class="ti ti-phone"></i></span>
                        <span class="pc-mtext">İletişim Bilgileri</span>
                    </a>
                </li>

            </ul>

        </div>
    </div>
</nav>
