@model List<Portfolio.Web.Entities.Skill>

<section id="skills" class="skills section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Yeteneklerim</h2>
        <p>Aşağıda Yeteneklerim Ve Yüzdelik Durumlarıma Yer Verilmiştir</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row skills-content skills-animation">

            @foreach (var skill in Model)
            {
                <div class="col-lg-6 mb-3">
                    <div class="progress">
                        <span class="skill">
                            <span>@skill.Title</span>
                            <i class="val">@skill.Percentage%</i>
                        </span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar"
                                 style="width: @skill.Percentage%;"
                                 aria-valuenow="@skill.Percentage" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                    </div><!-- End Skills Item -->
                </div>
            }

        </div>

    </div>

</section>
