@model Portfolio.Web.Entities.SocialMedia

<div class="header-social-links">
    <a href="@Model?.Twitter" class="twitter"><i class="bi bi-twitter-x"></i></a>
    <a href="@Model?.Facebook" class="facebook"><i class="bi bi-facebook"></i></a>
    <a href="@Model?.Instagram" class="instagram"><i class="bi bi-instagram"></i></a>
    <a href="@Model?.LinkedIn" class="linkedin"><i class="bi bi-linkedin"></i></a>
</div>
